.root {
  padding: 8px 0;
  width: 100%;
}

.root:not(:last-child) {
  border-bottom: 0.25px solid rgba(255, 255, 255, 0.25);
}

.buttons {
  display: flex;
  gap: 8px;
}

.input {
  width: 100%;
  border: none;
  background-color: transparent;
  outline: none;
  color: inherit;
  padding: 0;

  font-family: var(--vkui--font_text--font_family--regular);
  font-size: var(--vkui--font_text--font_size--regular);
  font-weight: var(--vkui--font_text--font_weight--regular);
  line-height: var(--vkui--font_text--line_height--regular);
}

.input:focus {
  border-bottom: 0.25px solid white;
}

.completed {
  text-decoration: line-through;
}